.flex_container {
    display: flex;
}

.flex_container > div {
    line-height: 75px;
    font-size: 30px;
}

.all_trips {
    flex-grow: 2;
}

.flex_wrapper {
    display: flex;
}
.trips_list {
overflow: auto;
    height: 300px;
}

.add_trip {
    background: lightgoldenrodyellow;
    width: initial;
}

.selected_trip {
    background: lightgray;
    flex-grow: 1;
}