.container {
    height: 300px;
    width: 200px;
    border: 1px solid lightgray;
    text-align: left;

}

.trip_image {
    height: 200px;
}

.trip_image img {
    height: 200px;
    width: 200px;
}

.trip_name {
    margin-left: 20px;
    font-size: 20px;
    height: 50px;
}
.trip_dates {
    display: flex;
    font-size: 14px;
    margin-left: 20px;
    color: grey;
    height: 50px;
    align-items: center;
    justify-items: center;
}